@use 'mixins';

@use 'navegador';
@use 'presentacionIng';
@use 'herramientasFE';
@use 'herramientasBE';
@use 'herramientasIDE';
@use 'herramientasOffice';
@use 'manejoBD';
@use 'herramientasConcept';
@use 'herramientasControlVersiones';
@use 'contacto';

//TODO: Encender el fondo de pantalla uns vez debugeado.
html
{
    @include mixins.scroll();
}
body
{
    background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)) , url('../img/space-7273891.jpg');
    @include mixins.crear-flexbox();
    @include mixins.arreglar-imagen();


}

//PARA SMARTPHONES
//RESOLUCIÓN 1: 800px.
//TODO: MIGRAR A CADA UNO DE LAS HOJAS CORRESPONDIENTES A SU CLASE
//LLEGAR A UNA MINIMA RESOLUCIÓN Y NO BAJAR DE AHI.
@media only screen and (max-width: 800px){
   html
   {
   overflow: auto;
   }

    body {
        
        background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url('../img/space-7273891.jpg');
        @include mixins.arreglar-imagen();
        @include mixins.background-width(100%);
        display: block;
    }
    .Navigator
    {
        
        @include mixins.crear-flexbox();
        @include mixins.Margin-bottom(120);
    }
    //PERFIL
        .profile{
           //background-color: chartreuse;
           @include mixins.Margin-bottom(120);
           @include mixins.background-width(98.5%);
            display: block;
            text-align: center;
            margin-top: 140px;
        }
            .profiletable{
                @include mixins.Margin-bottom(120);
                @include mixins.background-width(100%);
                 display: block;
                 text-align: center;
                 margin-top: 21px;
            &__Spersonal, &__Sacademy, &__Sjob{
                @include mixins.background-width(100%);
                display: block;
            }
            &--personal, &--academy,&--job{
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
                }
            }
            &--Pparagraph,&--Aparagraph,&--Jparagraph{
                text-align: left;
                @include mixins.background-width(100%);
                display: block;
            }
        }
    
     //FE
        .PerkFe{
                       //background-color: chartreuse;
           @include mixins.Margin-bottom(120);
           @include mixins.background-width(98.5%);
            display: block;
            text-align: center;
            margin-top: 140px;
        }
        .FElogo{
            @include mixins.Margin-bottom(120);
            @include mixins.background-width(100%);
             display: block;
             text-align: center;
             margin-top: 140px;
            &__SHTML5,&__SJS,&__SPHP,&__SREACT{
                @include mixins.background-width(100%);
                    display: block;
                    @include mixins.Margin-bottom(227);
                    
            }
            &__Styles
            {
                   &--container
                   {
                    justify-content: center;
                    @include mixins.background-width(95%);
                    display: flex;
                    margin: auto;
                    //@include mixins.Margin-bottom(227);
                   }
                   @include mixins.background-width(98.5%);
                    display: block;
                    @include mixins.Margin-bottom(227);
            }

            &__HTML5,&__JS,&__PHP,&__REACT{
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
                
            }
        

        }
    //BE
    .PerkBe{
        //background-color: chartreuse;
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(98.5%);
        display: block;
        text-align: center;
        margin-top: 140px;
        }
    .BElogo{
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(100%);
        display: block;
        text-align: center;
        margin-top: 140px;

        &__SVBNET,&__SJAVA,&__SCSHARP
            {
                @include mixins.background-width(100%);
                display: block;
                //@include mixins.Margin-bottom(17);
            }
            &__VBNET,&__JAVA,&__CSHARP{
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
            }
        }
//IDE
.PerkIDE{
    //background-color: chartreuse;
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(98.5%);
    display: block;
    text-align: center;
    margin-top: 140px;
    }
.IDElogo{
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(100%);
    display: block;
    text-align: center;
    margin-top: 140px;

    &__SVS,&__SVSC,&__SSQLMS,&__SNETBEANS,&__SNOTEPAD2PLUS
        {
            @include mixins.background-width(100%);
            display: block;
            //@include mixins.Margin-bottom(17);
        }
        &__VS,&__VSC,&__SQLMS,&__NETBEANS,&__NOTEPAD2PLUS
        {
            margin: auto;
            margin: {
                top: 17px;
                bottom: 17px;
        }
    }
        &__stats{
            text-align: left;
            @include mixins.background-width(98%);
        }
    }
//OFFICE
    .PerkOffice{
        //background-color: chartreuse;
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(98.5%);
        display: block;
        text-align: center;
        margin-top: 140px;
        }
    .Officelogo{
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(100%);
        display: block;
        text-align: center;
        margin-top: 140px;
    
        &__SWORD,&__SEXCEL,&__SPROJECT,&__SSHAREPOINT,&__SPOWERBI, &__SVISIO, &__SPP
            {
                @include mixins.background-width(98.5%);
                display: block;
                //@include mixins.Margin-bottom(17);
            }
            &__WORD,&__EXCEL,&__PROJECT,&__SHAREPOINT,&__POWERBI, &__VISIO, &__PP
            {
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
            }
        }

//BBDD
        .PerkSQL{
            //background-color: chartreuse;
            @include mixins.Margin-bottom(120);
            @include mixins.background-width(98.5%);
            display: block;
            text-align: center;
            margin-top: 140px;
            }
        .SQLlogo{
            @include mixins.Margin-bottom(120);
            @include mixins.background-width(100%);
            display: block;
            text-align: center;
            margin-top: 140px;
        
            &__SMSQL
                {
                    @include mixins.background-width(100%);
                    display: block;
                    //@include mixins.Margin-bottom(17);
                }
                &__MSQL
                {
                    margin: auto;
                    margin: {
                        top: 17px;
                        bottom: 17px;
                }
            }
                &__stats{
                    text-align: left;
                    @include mixins.background-width(98%);
                }
            }
//CONCEPTOS
.PerkConcept{
    //background-color: chartreuse;
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(98.5%);
    display: block;
    text-align: center;
    margin-top: 140px;
    }
.Conceptlogo{
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(100%);
    display: block;
    text-align: center;
    margin-top: 140px;

    &__SBIZAGIM, &__SSTARUML, &__SSAPPD, &__SBALSAMIQ
        {
            @include mixins.background-width(100%);
            display: block;
            //@include mixins.Margin-bottom(17);
        }
        &__BIZAGIM, &__STARUML, &__SAPPD, &__BALSAMIQ
        {
            margin: auto;
            margin: {
                top: 17px;
                bottom: 17px;
        }
    }
        &__stats{
            text-align: left;
            @include mixins.background-width(98%);
        }
    }
//CONTROL DE VERSIONES
.PerkCtrlVer{
    //background-color: chartreuse;
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(98.5%);
    display: block;
    text-align: center;
    margin-top: 140px;
    }
    .CtrlVerlogo{
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(100%);
    display: block;
    text-align: center;
    margin-top: 140px;

    &__SGIT
        {
            @include mixins.background-width(100%);
            display: block;
            //@include mixins.Margin-bottom(17);
        }
        &__GIT
        {
            margin: auto;
            margin: {
                top: 17px;
                bottom: 17px;
        }
    }
        &__stats{
            text-align: left;
            @include mixins.background-width(98%);
        }
    }
//CONTACTO
.ContactoDev{
    ///background-color: chartreuse;
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(98.5%);
    display: block;
    text-align: center;
    //margin-top: 140px;
}
.ContactoDevlogo{
    @include mixins.Margin-bottom(120);
    @include mixins.background-width(100%);
    display: block;
    text-align: center;
    margin-top: 140px;

    &__SLDIN{
        @include mixins.background-width(100%);
        display: block;
        //margin-top: 140px;
    }
    &__LDIN{
        margin: auto;
        margin: {
            top: 17px;
            bottom: 17px;
    }
    }
    &__stats{
        text-align: center;
        @include mixins.background-width(98%);
    }
    }
}   
