@use 'mixins';

.PerkOffice
{
    @include mixins.Margin-bottom(90);
    &__title{
        @include mixins.Emerging-headers(); 
    }
}


.Officelogo{


    &__SWORD{
        //background-color: #ffff80;
        @include mixins.crear-flexbox();
    }
    &__WORD{
        content: url('../img/Office/Microsoft_Office_Word_2019_present.svg');
        @include mixins.tamaño-logo();
    }


    &__SEXCEL{
        //background-color: #80ffff;
        @include mixins.crear-flexbox();
    }
    &__EXCEL{
        content: url('../img/Office/icons8-microsoft-excel-2019-480.svg');
        @include mixins.tamaño-logo();
    }


    &__SPROJECT{
        //background-color: #0000ff;
        @include mixins.crear-flexbox();
    }
    &__PROJECT{
        content: url('../img/Office/Microsoft_Project_2019_present.svg');
        @include mixins.tamaño-logo();
    }


    &__SSHAREPOINT{
        //background-color: #ff0000;
        @include mixins.crear-flexbox();
    }
    &__SHAREPOINT{
        content: url('../img/Office/icons8-microsoft-sharepoint-2019-480.svg');
        @include mixins.tamaño-logo();
    }
 

    &__SPOWERBI{
        //background-color: #008080;
        @include mixins.crear-flexbox();
    }
    &__POWERBI{
        content: url('../img/Office/New_Power_BI_Logo.svg');
        @include mixins.tamaño-logo();
    }


    &__SVISIO{
        //background-color: #8000ff;
        @include mixins.crear-flexbox();
    }
    &__VISIO{
        content: url('../img/Office/icons8-microsoft-visio-2019-480.svg');
        @include mixins.tamaño-logo();
    }


    &__SPP{
        //background-color: #804000;
        @include mixins.crear-flexbox();
    }
    &__PP{
        content: url('../img/Office/icons8-microsoft-powerpoint-2019-480.svg');
        @include mixins.tamaño-logo();
    }

    &__stats{
        //background-color: #ffffff;
        @include mixins.ajusteHabilidadstats();
        @include mixins.emerger-texto();
    }
}

@media only screen and (max-width: 800px){
    .PerkOffice{
        //background-color: chartreuse;
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(98.5%);
        display: block;
        text-align: center;
        margin-top: 140px;
        }
    .Officelogo{
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(100%);
        display: block;
        text-align: center;
        margin-top: 140px;
    
        &__SWORD,&__SEXCEL,&__SPROJECT,&__SSHAREPOINT,&__SPOWERBI, &__SVISIO, &__SPP
            {
                @include mixins.background-width(98.5%);
                display: block;
                //@include mixins.Margin-bottom(17);
                &--container{
                    justify-content: center;
                    @include mixins.background-width(95%);
                    display: flex;
                    margin: auto;
                }
            }
            &__WORD,&__EXCEL,&__PROJECT,&__SHAREPOINT,&__POWERBI, &__VISIO, &__PP
            {
                @include mixins.background-width(26%);
                @include mixins.background-heigth(100%);
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
                @include mixins.vw-font-size(2vw);
            }
        }

}
