@use 'mixins';

.FElogo{

    
    &__SHTML5{
        //background-color: #ff8080;  // Para debug
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__HTML5{
        content: url('../img/FE/HTML5_logo_and_wordmark.svg');
        @include mixins.tamaño-logo();
        //background-color: #ff0000;
    }


    &__Styles{
        //background-color: #ffff00;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__CSS{
        content: url('../img/FE/CSS3_logo_and_wordmark.svg');
        @include mixins.tamaño-logo();
    }
    &__PLUS{
        //background-color: #ffffff;
        @include mixins.crear-flexbox();
        @include mixins.ajustePlus();
    }
    &__SASS{
        content: url('../img/FE/Sass_Logo_Color.svg');
        @include mixins.tamaño-logo();
    }
   

    &__SJS{
        //background-color: #00ff40;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__JS{
        content: url('../img/FE/javascript-logo-svgrepo-com.svg');
        @include mixins.tamaño-logo();
    }


    &__SPHP{
        //background-color: #ff80c0;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__PHP{
        content:url('../img/FE/PHP-logo.svg');
        @include mixins.tamaño-logo();
    }

    &__SREACT{
        //background-color: #ff00ff;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__REACT{
        content: url('../logo.svg');
        @include mixins.tamaño-logo();
    }


    &__stats{
        //background-color: #80ff80;
        @include mixins.ajusteHabilidadstats();
        @include mixins.emerger-texto();
    }
    

}