@use 'mixins';
//TODO: DEBUGEAR TODAS LAS HOJAS CONTIGUAS A TRAVES DEL MIXINS
//COLOREANDO EL DIV CON MARGIN Y PADDING.
.PerkBe
{
    @include mixins.Margin-bottom(90);
    &__title{
    
        @include mixins.Emerging-headers(); 
    }
}

.BElogo{

    &__SVBNET{
        @include mixins.crear-flexbox();
        //background-color: #ff0000; // Para debug
    }
    &__VBNET{
        content:url('../img/BE/VB.NET_Logo.svg');
        @include mixins.tamaño-logo();
       //background-color: #00ffff
    }
    &__SJAVA{
        @include mixins.crear-flexbox();
       //background-color: #0080ff
        
    }
    &__JAVA{
        content: url('../img/BE/java-logo-svgrepo-com.svg');
        @include mixins.tamaño-logo();
        //background-color: #1ea427
    }
    &__SCSHARP{
        @include mixins.crear-flexbox();
        //background-color: #00ff00
    }
    &__CSHARP{
        content: url(../img/BE/c--4.svg);
        @include mixins.tamaño-logo();
        //background-color: #b90000
    }
    &__stats{
        //background-color: #80ff80;
        @include mixins.ajusteHabilidadstats();
        @include mixins.emerger-texto();
    }
}

@media only screen and (max-width: 800px){
    .PerkBe{
        //background-color: chartreuse;
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(98.5%);
        display: block;
        text-align: center;
        margin-top: 140px;
        }
    .BElogo{
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(100%);
        display: block;
        text-align: center;
        margin-top: 140px;

        &__SVBNET,&__SJAVA,&__SCSHARP
            {
                @include mixins.background-width(100%);
                @include mixins.background-heigth(510px);
                display: block;
                @include mixins.Margin-bottom(0);
                 &--container{
                justify-content: center;
                @include mixins.background-width(95%);
                display: flex;
                margin: auto;
            }
            }
            &__VBNET,&__JAVA,&__CSHARP{
                 @include mixins.background-width(26%);
                 @include mixins.background-heigth(100%);
                 border-radius: 5px;
                 //TODO: CREAR MIXIN PARA MARGIN, BORDER & PADDING PARA OPTIMIZAR CODIGO
                 //TAMBIEN EL TAMAÑO DE DIV CAMBIANDO DE "background-width o height"  A "div-size-WD-HG"
                 //NOMBRARLO ASI:  "Margin-LT-RT-UP-DN"
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
                @include mixins.background-heigth(50%);
                @include mixins.vw-font-size(90%);
                 margin: 
                            {
                                left: 3px;
                                right: 0px;
                                top: 0px;
                                bottom: 0px;
                             }
                            padding-left: 0px;
            }
        }
}