@use 'mixins';

.PerkCtrlVer
{
    @include mixins.Margin-bottom(90);
    &__title{
        @include mixins.Emerging-headers(); 
    }
}
.CtrlVerlogo{

    &__SGIT{
        @include mixins.crear-flexbox();
    }
    &__GIT{
        content: url('../img/CTRLVER/Git-logo.svg');
        @include mixins.tamaño-logo();
    }

    &__stats{
        //background-color: #00ffff;
        @include mixins.ajusteHabilidadstats();
        @include mixins.emerger-texto();
    }
}
@media only screen and (max-width: 800px){
    .PerkCtrlVer{
        //background-color: chartreuse;
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(98.5%);
        display: block;
        text-align: center;
        margin-top: 140px;
        }
        .CtrlVerlogo{
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(100%);
        display: block;
        text-align: center;
        margin-top: 140px;
    
        &__SGIT
            {
                @include mixins.background-width(100%);
                display: block;
                //@include mixins.Margin-bottom(17);
                &--container{
                    justify-content: center;
                    @include mixins.background-width(95%);
                    display: flex;
                    margin: auto;
                }
            }
            &__GIT
            {
                @include mixins.background-width(26%);
                @include mixins.background-heigth(100%);
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
                @include mixins.vw-font-size(2vw);
            }
        }
    

}