@use 'mixins';

.PerkConcept
{
    @include mixins.Margin-bottom(90);
    &__title{
        @include mixins.Emerging-headers(); 
    }
}
.Conceptlogo{


    &__SBIZAGIM{
        @include mixins.crear-flexbox();
        //background-color: #ff8040;  //Para depurar
    }
    &__BIZAGIM{
        content: url('../img/CONCEPT/modeler-logo-md.svg');
        @include mixins.tamaño-logo();
    }



    &__SSTARUML{
        @include mixins.crear-flexbox();
        //background-color: #0000ff;
    }
    &__STARUML{
        content: url('../img/CONCEPT/7642181.png');
        @include mixins.tamaño-logo();
    }

    &__SSAPPD{
        @include mixins.crear-flexbox();
        //background-color: #c0c0c0;
    }
    &__SAPPD{
        content: url('../img/CONCEPT/logo-powerdesigner.png');
        @include mixins.tamaño-logo();
    }


    &__SBALSAMIQ{
        @include mixins.crear-flexbox();
        //background-color: #00ff00;
    }
    &__BALSAMIQ{
        content: url('../img/CONCEPT/balsamiq-logo-screen-1000x500.png');
        @include mixins.tamaño-logo-cuadrado();
        //background-color: #0080c0;
    }

    &__stats{
        //background-color: #00ffff;
        @include mixins.ajusteHabilidadstats();
        @include mixins.emerger-texto();
    }
}
@media only screen and (max-width: 800px){
    .PerkConcept{
        //background-color: chartreuse;
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(98.5%);
        display: block;
        text-align: center;
        margin-top: 140px;
        }
    .Conceptlogo{
        @include mixins.Margin-bottom(120);
        @include mixins.background-width(100%);
        display: block;
        text-align: center;
        margin-top: 140px;
    
        &__SBIZAGIM, &__SSTARUML, &__SSAPPD, &__SBALSAMIQ
            {
                @include mixins.background-width(100%);
                display: block;
                //@include mixins.Margin-bottom(17);
                &--container{
                    justify-content: center;
                    @include mixins.background-width(95%);
                    display: flex;
                    margin: auto;
                }
            }
            &__BIZAGIM, &__STARUML, &__SAPPD, &__BALSAMIQ
            {
                @include mixins.background-width(26%);
                @include mixins.background-heigth(100%);
                margin: auto;
                margin: {
                    top: 17px;
                    bottom: 17px;
            }
        }
            &__stats{
                text-align: left;
                @include mixins.background-width(98%);
                @include mixins.vw-font-size(2vw);
            }
        }
    
}