@use 'mixins';

.PerkFe
{
    @include mixins.Margin-bottom(90);
    &__title{
        @include mixins.Emerging-headers(); 
    }
}

.FElogo{

    
    &__SHTML5{
        //background-color: #ff8080;  // Para debug
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__HTML5{
        content: url('../img/FE/HTML5_logo_and_wordmark.svg');
        @include mixins.tamaño-logo();
        //background-color: #ff0000;
    }


    &__Styles{
        //background-color: #ffff00;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
        &--container
        {
            //background-color: blue;
            @include mixins.crear-flexbox();
        }
    }
    &__CSS{
        content: url('../img/FE/CSS3_logo_and_wordmark.svg');
        @include mixins.tamaño-logo();
    }
    &__PLUS{
        //background-color: #ffffff;
        @include mixins.crear-flexbox();
        @include mixins.ajustePlus();
    }
    &__SASS{
        content: url('../img/FE/Sass_Logo_Color.svg');
        @include mixins.tamaño-logo();
    }
   

    &__SJS{
        //background-color: #00ff40;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__JS{
        content: url('../img/FE/javascript-logo-svgrepo-com.svg');
        @include mixins.tamaño-logo();
    }


    &__SPHP{
        //background-color: #ff80c0;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__PHP{
        content:url('../img/FE/PHP-logo.svg');
        @include mixins.tamaño-logo();
    }

    &__SREACT{
        //background-color: #ff00ff;
        @include mixins.crear-flexbox();
        @include mixins.ajusteHabilidad();
    }
    &__REACT{
        content: url('../logo.svg');
        @include mixins.tamaño-logo();
    }


    &__stats{
        //ackground-color: #80ff80;
        @include mixins.ajusteHabilidadstats();
        @include mixins.emerger-texto();
    }
}
@media only screen and (max-width: 800px){
    .PerkFe{
@include mixins.Margin-bottom(120);
@include mixins.background-width(98.5%);
display: block;
text-align: center;
margin-top: 140px;
}
.FElogo{
@include mixins.Margin-bottom(120);
@include mixins.background-width(100%);
display: block;
text-align: center;
margin-top: 140px;
&__SHTML5,&__SJS,&__SPHP,&__SREACT{
 @include mixins.background-width(100%);
     display: block;
     @include mixins.Margin-bottom(227);
     
}
&__Styles
{
    &--container
    {
     justify-content: center;
     @include mixins.background-width(95%);
     display: flex;
     margin: auto;
    }
    @include mixins.background-width(98.5%);
     display: block;
     @include mixins.Margin-bottom(227);
}

&__HTML5,&__JS,&__PHP,&__REACT{
 margin: auto;
 margin: {
     top: 17px;
     bottom: 17px;
}
}
&__stats{
 text-align: left;
 @include mixins.background-width(98%);
 
}
}
}