//AJUSTES EN BARRA DE NAVEGACIÓN
@mixin adapt-navbar()
{
    background-image: linear-gradient(rgb(97, 218, 251),rgba(255, 255, 255, 0));
    border-bottom-left-radius:  25px;
    border-bottom-right-radius:  25px;
    padding: 30px 15px;
    display:flex;
    align-items:center;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top:0;
    z-index: 9999;
}
@mixin adapt-navbar-links()
{
    color: aqua;
    padding-left:25px;
    padding-right: 25px;
    text-align: center;
}
//AJUSTES DE  DESPLAZAMIENTO (SCROLL)
@mixin scroll()
{
    overflow: hidden;
    scroll-behavior: smooth;   
    scroll-padding: 90px;
}
@mixin scroll-resp($value)
{
    overflow:hidden;
    scroll-behavior: smooth;   
    scroll-padding: ($value)+px;
}

//AJUSTE DE DIV
@mixin crear-flexbox(){
    display:flex;

}
//ENCABEZADOS
@mixin Emerging-headers()
{
    color: #268bd2;
    animation: emerging-headers 3s, infinite;

    @keyframes emerging-headers {
        from{color:transparent}
        to{color: #268bd2}
    }
}
@mixin Margin-top($value)
{
    margin-top: ($value)+px;
}
@mixin Margin-bottom($value)
{
    margin-bottom: ($value)+px;
}


// ANTECEDENTES
@mixin ajustePersonal-img()
{
    height: 300px;
    padding: 1px;
    margin: 2px;
    border-radius: 25px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajustePersonal()
{
    height: 300px;
    margin: 2px;
}
@mixin ajusteAcademico-img()
{
    height: 200px;
    padding: 1px;
    margin: 2px;
    border-radius: 25px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajusteAcademico()
{
    height: 200px;
    padding: 1px;
    margin: 2px;
}
@mixin ajusteLaboral-img()
{
    height: 240px;
    padding: 1px;
    margin: 2px;
    border-radius: 25px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajusteLaboral()
{
    height: 240px;
    padding: 1px;
    margin: 2px;
}
@mixin ajusteEncabezado()
{
    height: 50px;
    padding: 1px;
    margin: 2px; 
}
@mixin emergerEncabezado()
{
    animation: emer-txt 1s, steps(500);
    @keyframes emer-txt {
        from {opacity: 0}
        to {opacity: 1}
        
    }
}
@mixin emerger-texto()
{
    animation: emer-txt 9s, steps(500);
    color: #a98a34;
    @keyframes emer-txt {
        from {opacity: 0}
        to {opacity: 1}
        
    }
}


//HABILIDADES DURAS

@mixin ajusteHabilidad()
{
    height: 200px;
    padding: 1px;
    margin: {
        top: 10px;
        bottom: 10px;
    }
    border: 5px;
}

@mixin tamaño-logo{
    width: 180px;
    height: 180px;
    padding: 1px;
    margin-top: 10px;
    background-image: linear-gradient(rgb(97, 218, 251),rgba(255, 255, 255, 0));
    border-radius: 25px;
    transform: skewY(0deg);
    animation: emerging-logo 4s, cursor .25s step-end infinite alternate;
    @keyframes emerging-logo {
        from {opacity: 0; transform: skewY(90deg);}
        to {opacity: 1; transform: skewY(0deg);}
    }
}
@mixin ajusteHabilidadstats()
{
    height: 200px;
    width: 1470px;
    margin: {
        top: 10px;
        bottom: 10px;
    }
    padding-left: 10px;
    border: 5px;
}

@mixin ajustePlus(){
    font-size: 50px;
    color:rgb(97, 218, 251);
    margin: {
        top: 30px;
        left: 5px;
        right: 5px;
    }
    animation: emergin-plus 12s, steps(500), infinite;

     @keyframes emergin-plus {
            from{color:transparent}
            to{color:rgb(97, 218, 251)}
        }
}
@mixin tamaño-logo-cuadrado{
    width: 200px;
    height: 100px;
    padding: 1px;
    margin-top: 50px;
    
    background-image: linear-gradient(rgb(97, 218, 251),rgba(255, 255, 255, 0));
    border-radius: 25px;
    animation: emerging-logo-cuadrado 6s  steps(500), cursor 1s step-end infinite alternate;

    @keyframes emerging-logo-cuadrado {
        from {opacity: 0}
        to {opacity: 1}
    }
}

@mixin arreglar-imagen{
    background: {
        size:cover;
        repeat: no-repeat;
        position: center;
        attachment: fixed;
    }
    animation: emerger-fondo .5s;

    @keyframes emerger-fondo {
        from {opacity: 0}
        to {opacity: 1}
    }
}

//TODO: DEBUGEAR EL MIXINS. LO QUE ESTÁ ARRIBA ESTÁ LISTO
//LO QUE NO SE NECESITE, BORRARLO.
