// ANTECEDENTES
@mixin ajustePersonal-img()
{
    height: 300px;
    padding: 1px;
    margin: 2px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajustePersonal()
{
    height: 300px;
    padding: 1px;
    margin: 2px;
}
@mixin ajusteAcademico-img()
{
    height: 200px;
    padding: 1px;
    margin: 2px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajusteAcademico()
{
    height: 200px;
    padding: 1px;
    margin: 2px;
}
@mixin ajusteLaboral-img()
{
    height: 240px;
    padding: 1px;
    margin: 2px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajusteLaboral()
{
    height: 240px;
    padding: 1px;
    margin: 2px;
}
@mixin ajusteEncabezado()
{
    height: 50px;
    padding: 1px;
    margin: 2px; 
}
@mixin emergerEncabezado()
{
    animation: emer-txt 1s, steps(500);
    @keyframes emer-txt {
        from {opacity: 0}
        to {opacity: 1}
        
    }
}
@mixin emerger-texto()
{
    animation: emer-txt 3s, steps(500);
    @keyframes emer-txt {
        from {opacity: 0}
        to {opacity: 1}
        
    }
}


//HABILIDADES DURAS

@mixin ajusteHabilidad()
{
    height: 200px;
    padding: 1px;
    margin: {
        top: 10px;
        bottom: 10px;
    }
    border: 5px;;
}

@mixin tamaño-logo{
    width: 180px;
    height: 180px;
    padding: 1px;
    margin-top: 10px;
    animation: emerging-logo 6s  steps(500), cursor 1s step-end infinite alternate;

    @keyframes emerging-logo {
        from {opacity: 0}
        to {opacity: 1}
    }
}
@mixin ajusteHabilidadstats()
{
    height: 200px;
    padding-left: 10px;
    
}
@mixin ajustePlus(){
    margin: {
        top: 90px;
        left: 4px;
        right: 4px;
    }
}
//TODO: DEBUGEAR EL MIXINS. LO QUE ESTÁ ARRIBA ESTÁ LISTO
//LO QUE NO SE NECESITE, BORRARLO.

@mixin crear-flexbox(){
    display:flex;

}
@mixin arreglar-imagen{
    background: {
        size:auto;
        repeat: no-repeat;
        position: center;
        attachment: fixed;
    }
}


@mixin tamaño-logo-cuadrado{
    width: 200px;
    height: 100px;
    padding: 1px;
    margin: 2px;
    animation: emerging-logo-cuadrado 6s  steps(500), cursor 1s step-end infinite alternate;

    @keyframes emerging-logo-cuadrado {
        from {opacity: 0}
        to {opacity: 1}
    }
}

@mixin tamaño-img{
    width: 100px;
    height: 150px;
    padding: 1px;
    margin: 2px;
    animation: emerging-img 6s, cursor .75s step-end infinite alternate;

    @keyframes emerging-img {
        from {opacity: 0}
        to {opacity: 1}
    }

}

@mixin align-sign{
    width: 10px;
    height: 10px;
    margin: 90px 10px 90px 10px;
}

@mixin appear-effect{
         
         overflow: hidden;

         animation: typing 2s, cursor .25s step-end infinite alternate;



         @keyframes typing {
            from {color: transparent}
            to {color: black;}
         }

}