@use 'mixins';

.Navigator
{
    overflow:hidden;
    &__container
    {
        //background-color: aqua;
        @include mixins.adapt-navbar();
        position: absolute;
        @include mixins.Position-LT-RT-UP-DN(-2000px,0px,-700px,0px);
        @include mixins.Margin-LT-RT-UP-DN(auto,auto,0px,0px);
        text-align: center;
        display: block;




        &.active{
          @include mixins.background-width(100%);
          @include mixins.Position-LT-RT-UP-DN(0,0,30%,0);
          @include mixins.Margin-LT-RT-UP-DN(auto,auto,0px,0px);
          text-align: center;
          display: flex;
          color: black;
          
        @media (max-width: 834px) {
          display: grid;
        }
        }

        @media (max-width: 834px) {
          background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));

        }
        @media (min-width: 834px){
          //

          position: initial;
          margin: 0;
      }
    }
    &__links
    {
        //background-color: azure;
        @include mixins.adapt-navbar-links();
    }

    &__responsive
    {
      display: flex;
      justify-content: right;
      @include mixins.background-width(100%);
      @media (min-width: 834px){

      }
    }
}



.Hamburger{

  @include mixins.Margin-LT-RT-UP-DN(0px,0px,10px,10px);
  @include mixins.div-size-WD-HG(35px,30px);

  position: relative;
  cursor: pointer;
  display: inline-block;

  & span
  {
    background-color:aqua;
    position: absolute;
    @include mixins.BorderRadius-TL-TR-BL-BR(2px,2px,2px,2px);
    transition: .3s cubic-bezier(.8, .5, .2, 1.4); //Crear mixin para esto (tal vez)
    @include mixins.div-size-WD-HG(100%,4px);
    transition-duration: 500ms
  }
//Preocupar de limpiar codigo despues
}

.Hamburger span:nth-child(1){
  top:0px;
  left: 0px;
}
.Hamburger span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.Hamburger span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.Hamburger:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.Hamburger:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.Hamburger:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.Hamburger.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.Hamburger.open span:nth-child(2){
  opacity:0;
}
.Hamburger.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}






@media only screen and (max-width: 834px){
    .Navigator
    {
        @include mixins.crear-flexbox();
        @include mixins.Margin-LT-RT-UP-DN(0px,0px,0px,120px);
    }

}