@use 'mixins';
$limite_ancho: 1848px;

//TODO: Mejorar la presentación en lo posible
.Navigator
{

    overflow:hidden;
    &__container
    {
        @include mixins.adapt-navbar();
    }
    &__links
    {
        //background-color: azure;
        @include mixins.adapt-navbar-links();
        justify-content: center;
    }

    &__responsive
    {
    //@include mixins.adapt-resp-navbar();
    @media (min-width: 1848px)
      {
        display: none;
      }
    }
}



.Hamburger{

  @include mixins.Margin-LT-RT-UP-DN(0px,4%,10px,10px);
  @include mixins.div-size-WD-HG(35px,30px);

  position: fixed;
  cursor: pointer;
  display: none;

  & span
  {
    background-color: #0e223d;
    position: absolute;
 
    @include mixins.BorderRadius-TL-TR-BL-BR(2px,2px,2px,2px);
    transition: .3s cubic-bezier(.8, .5, .2, 1.4); //Crear mixin para esto (tal vez)
    @include mixins.div-size-WD-HG(100%,4px);
    transition-duration: 500ms
  }

  & span:nth-child(1){

    top:0px;
    left: 0px;
  }

  & span:nth-child(2){

    top:13px;
    left: 0px;
    opacity:1;
  }
  & span:nth-child(3){

    bottom:0px;
    left: 0px;
  }
//Preocupar de limpiar codigo despues
}

.Hamburger:not(.open):hover span:nth-child(1){

  transform: rotate(-3deg) scaleY(1.1);
}
.Hamburger:not(.open):hover span:nth-child(2){

  transform: rotate(3deg) scaleY(1.1);
}
.Hamburger:not(.open):hover span:nth-child(3){

  transform: rotate(-4deg) scaleY(1.1);
}
.Hamburger.open span:nth-child(1){

  transform: rotate(45deg);
  top: 13px;
}
.Hamburger.open span:nth-child(2){

  opacity:0;
}
.Hamburger.open span:nth-child(3){

  transform: rotate(-45deg);
  top: 13px;
}






@media only screen and (max-width: $limite_ancho){
    .Navigator
    {
        display: grid;
        @include mixins.Margin-LT-RT-UP-DN(0px,0px,0px,120px);
        &__container
        {
          display: none;
         // @include mixins.adapt-resp-navbar-despl-off();
        }
        &__container.open
        {
          @include mixins.adapt-resp-navbar-links();
          @include mixins.adapt-resp-navbar-despl-on();
        }
        &__responsive{
          @include mixins.adapt-resp-navbar();
        }
        &__links
        {
            @include mixins.vw-font-size(4vw);
            @include mixins.Margin-LT-RT-UP-DN(0px,0px,0.1em,0.1em);
        }
    }
    .Hamburger
    {
      @include mixins.crear-flexbox();
    }

}