@use 'mixins';

.profile{
   
   &__name{
      color: aqua;
   }

   &__Spersonal{
        @include mixins.crear-flexbox(30);
   }

   &__Sacademy{
      @include mixins.crear-flexbox(30);
   }
   &__Sjob{

      @include mixins.crear-flexbox(30);
   }



    &--personal{
      content: url('../img/20230131_124854.jpg');
      @include mixins.tamaño-img();
   
   }



    &--academy{
      content: url('../img/bellavista-7___Selected.jpg');
      @include mixins.tamaño-img();
 
   }



    &--job{
      content:url('../img/1332946447-lmb-bic-mut-10.jpg');
      @include mixins.tamaño-img();

   }


   


  

    

}