@use 'mixins';

//TODO:  debugear todas las hojas de estilo.



.profile{
   @include mixins.Margin-top(90);
   @include mixins.Margin-bottom(90);
   //background-color: aliceblue;
}

.profiletable{
   
   &--title, h1{
        //background-color: #00ffff; //Para debug
        @include mixins.ajusteEncabezado();
        @include mixins.emergerEncabezado();
        @include mixins.Emerging-headers(); 
   }

   &__Spersonal{
      //background-color: #ffd6cc;
      @include mixins.crear-flexbox();
   }
   &--personal{
      content: url('../img/20230131_124854.jpg');
      @include mixins.ajustePersonal-img();
      //background-color:#ff3300;
   }
   &--Pparagraph{
      @include mixins.ajustePersonal();
      @include mixins.emerger-texto();
      //background-color:#ff5c33 ;
    }



   &__Sacademy{

     //background-color: #9999ff;
     @include mixins.crear-flexbox();
   }
   &--academy{
      content: url('../img/bellavista-7___Selected.jpg');
      @include mixins.ajusteAcademico-img();
      //background-color:  #3333ff;
   }
   &--Aparagraph{
      @include mixins.ajusteAcademico();
      @include mixins.emerger-texto();
      //background-color: #6666ff;
   }



   &__Sjob{
      @include mixins.crear-flexbox();
       //background-color: #adebad;
   }
    &--job{
      content:url('../img/1332946447-lmb-bic-mut-10.jpg');
      @include mixins.ajusteLaboral-img();
     //background-color: #33cc33;

   }
   &--Jparagraph{
      @include mixins.ajusteLaboral();
      @include mixins.emerger-texto();
      //background-color: #70db70;
   }
}



@media only screen and (max-width: 800px){
   .profile{
      @include mixins.Margin-bottom(120);
      @include mixins.background-width(95%);
       display: block;
       text-align: center;
       margin-top: 140px;
   }
       .profiletable{
           @include mixins.Margin-bottom(120);
           @include mixins.background-width(100%);
            display: block;
            text-align: center;
            margin-top: 21px;
       &__Spersonal, &__Sacademy, &__Sjob{
           @include mixins.background-width(100%);
           display: block;
       }
       &--personal, &--academy,&--job{
         border-radius: 5px;
           margin: auto;
           margin: {
               top: 17px;
               bottom: 17px;
           }
           @include mixins.background-width(50%);
           @include mixins.background-heigth(50%);
       }
       &--Pparagraph,&--Aparagraph,&--Jparagraph{
        @include mixins.vw-font-size(2.5vw);
           text-align: left;
           @include mixins.background-width(97%);
           display: block;
           @include mixins.background-heigth(100%);
       }
   }
}
   

  

    
   
      


  

    

